.onmouse_3{
    text-align: center;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.55);
}
.onmouse_3:hover {/* 鼠标悬停 */
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.55);
    background-color: rgba(255, 255, 255, 0.143);
}
.onmouse_3:active{/* 鼠标点击 */
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.55);
    background-color: rgba(255, 255, 255, 0.277);
}